header{
    width: 100%;
    background-color: #436BB0;
    padding: 18px 0;
}

.logo{
    float: left;
    color: white;
}

.logo h2{
    font-size: 42px;
}

form.form-login{
    float: right;
}

.form-login .form-element{
    margin-right: 15px;
    display: inline-block;
}

.form-element p{
    color: white;
    font-size: 14px;
}

.form-element input[type = email],
.form-element input[type = password]{
    outline: none;
    border: 0;
    margin-top: 4px;
    padding: 2px 0;
}

.form-element input[type = submit]{
    cursor: pointer;
    border: 0;
    background-color: #215ab2;
    color: white;
    padding: 3px 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
}

.form-element input[type = submit]:hover{
    background-color: #214e92;
}

.reset-password{
    padding-top: 4px;
    float: left;
}

.reset-password a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(164, 211, 255);
}

section.main{
    padding: 40px 0;
    background: linear-gradient(white, #d3d8e8);
}

.img-pessoas{
    float: left;
    width: 58%;
}

.img-pessoas img{
    max-width: 100%;
}

.abrir-conta{
    float: left;
    width: 42%
}

.abrir-conta h2{
    color: black;
    font-size: 32px;
}

.abrir-conta p{
    color: black;
    font-size: 24px;
    padding: 16px 0;
}

form.criar-conta input{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 4px 0;
    padding: 8px;
    width: 100%;
    font-size: 18px;
}

.acao input[type = submit]{
    background: linear-gradient(#67ae55, #578843);
    color: white;
    font-weight: bold;
    border: 0;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
}